<div class="events container">

  <%= flash[:notice] %>
  <% if user_signed_in? %>
    <div class="events__write">
      <%= link_to new_event_path, class: 'events__new' do %>
        <i class="far fa-calendar-alt"></i>
      <% end %>
    </div>
  <% end %>
  <div class="events__wrapper row">
    <div class="col-md-3 mb-5 mb-sm-5">
      <% if user_signed_in? %>
        <div class="events__types">
          <%= link_to myevent_events_path(event_type: "created_events"), class: !params[:event_type] || params[:event_type] == "created_events" || params[:event_type] == "upcoming_events" || params[:event_type] == "past_events" ? "active" : "" do %>
            自分が作成したイベント (<%= @createdCount %>)
          <% end %>
          <%= link_to myevent_events_path(event_type: "attended_events"), class: params[:event_type] == "attended_events" ? "active" : "" do %>
            参加予定イベント (<%= @attendedCount %>)
          <% end %>
          <%= link_to myevent_events_path(event_type: "past_attended_events"), class: params[:event_type] == "past_attended_events" ? "active" : "" do %>
            参加完了イベント (<%= @pastAttendedCount %>)
          <% end  %>
        </div>
      <% end %>
    </div>
    <div class="col-md-9">
      <div class="events__header">
        <h1 class="events__title">MYイベント一覧</h1>
        <div class="events__links">
          <%= link_to 'イベントリスト', events_path, class: "events__draft" %>
        </div>
      </div>
      <% unless %w[attended_events past_attended_events].include?(params[:event_type]) %>
        <div class="events__filters">
          <div class="events__sort">
            <%= link_to "すべて(#{@createdCount})", myevent_events_path(event_type: "created_events"), class: params[:event_type] == "created_events" ? "active" : "" %>
            <%= link_to "未完了(#{@upcoming})", myevent_events_path(event_type: "upcoming_events"), class: params[:event_type] == "upcoming_events" ? "active" : "" %>
            <%= link_to "完了済み(#{@past_events})", myevent_events_path(event_type: "past_events"), class: params[:event_type] == "past_events" ? "active" : "" %>
          </div>
        </div>
      <% end %>
      <% if @myevents.any? %>
        <%= render partial: 'public/events/index', locals: { events: @myevents } %>
      <% else %>
        <% if %w[attended_events past_attended_events].include?(params[:event_type]) %>
          <p>参加のイベントはありません</p>
        <% else %>
          <p>作成したイベントはありません。</p>
          <%= link_to "イベントを作成してみる", new_event_path %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
