<div class="form-group post-form__title">
  <label for="post_title">
    Title
  </label>
  <%= f.text_field :title, required: true, class: 'form-control post_title' %>
</div>
<div class="form-group post-form__body">
  <label for="post_body">
    Body
  </label>
  <%= f.text_area :body, required: true, rows: 25, cols: 10, class: "form-control " %>
</div>
<div class="form-group post-form__hash">
  <%= f.label :hashtag_name %>
  <%= f.text_field :hashtag_name, class: "form-control" %>
</div>
<div class="form-group post-form__thumbnail">
  <label for="post_thumbnail">
    Thumbnail
  </label>
  <div>
    <%= f.file_field :post_image, accept: "image/*" %>
  </div>
</div>
<div class="form-group post-form__button-wrapper">
  <%= f.submit '投稿する', name: 'commit', class: "btn post-form__submit" %>
  <%= f.submit '下書き保存', name: 'commit', class: "btn post-form__draft" %>
</div>