<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= link_to '下書き一覧', drafts_posts_path, class: 'btn btn-primary btn-block mb-3' %>
      <%= link_to '新規作成', new_post_path, class: 'btn btn-success btn-block' %>
    </div>
    <div class="col-md-9">
      <h1>投稿一覧</h1>
      <div class="col-md-12">
        <%= link_to "いいね順", posts_path(sort: :favorites), class: "btn btn-primary" %>
        <%= link_to "最新順", posts_path(sort: :latest), class: "btn btn-primary" %>
        <%= render partial: 'public/posts/index', locals: { posts: @posts }  %>
      </div>
    </div>
  </div>
</div>
