<div style="height: 120px;"></div>

<div class="post-detail row hidden-md-up mx-auto">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <% if user_signed_in? %>
      <% if @post.user_id == current_user.id %>
        <%= link_to "削除", post_path(@post), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: '本当に削除しますか？' } %>
      <% end %>
    <% end %>

    <%= render partial: 'shared/post_card', locals: { post: @post, isDetail: true } %>

    <% if user_signed_in? %>
      <%= form_with model: @post_comment, url: post_post_comments_path(@post, @post_comment), local: true, class: 'post-detail__comment-form' do |f| %>
        <%= f.text_area :comment, rows: '3', required: true, class: 'form-control', placeholder: "コメントをここに" %>
        <%= f.submit "送信する", class: 'btn post-detail__comment-submit' %>
      <% end %>
      <% if user_signed_in? %>
        <% if @post.user_id == current_user.id %>
          <%= link_to "編集", edit_post_path(@post), class: 'btn post-detail__comment-submit' %>
        <% end %>
      <% end %>
    <% end %>

    <div class="post-detail__comment-wrapper">
      <% @post.post_comments.each do |comment| %>
        <%= render partial: 'shared/post_comment_card', locals: { comment: comment } %>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-2"></div>
</div>

<div style="height: 120px;"></div>
