<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-4">投稿詳細</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-3"><%= @post.title %></h4>
      <p class="mb-3"><%= @post.body %></p>
      <% @post.hashtags.each do |hashtag| %>
        <%= link_to hashtag.hashtag_name,hashtag_path(params[:id]) %>
      <% end %>
      <p>投稿者：<%= link_to @post.user.full_name, my_page_users_path(@post.user.id) %></p>
    </div>
  </div>
  <div class="row">
    <% if @post.favorited_by?(current_user) %>
      <%= link_to post_favorite_path(@post), method: :DELETE do %>
        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
        <%= @post.favorites.count %>like
      <% end %>
    <% else %>
      <%= link_to post_favorite_path(@post) , method: :POST do %>
        <i class="fa fa-heart" aria-hidden="true" ></i>
        <%= @post.favorites.count %>like
      <% end %>
    <% end %>
  </div>
  <div class="comment-box">
    <p>コメント件数：<%= @post.post_comments.count %></p>
    <% @post.post_comments.each do |post_comment| %>
      <%= post_comment.user.first_name %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
      <% if post_comment.user == current_user %>
        <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class:'btn btn-sm btn-danger' %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form_with model: @post_comment, url: post_post_comments_path(@post, @post_comment), local: true do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @post.user_id == current_user.id %>
        <%= link_to "編集", edit_post_path(@post), class: 'btn btn-sm btn-success mr-3' %>
        <%= link_to "削除", post_path(@post), class:'btn btn-sm btn-danger', method: :delete, data: { confirm: '本当に削除しますか？' } %>
      <% end %>
    </div>
  </div>
</div>
