<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <div class="toc">
    <%= toc(@blog.body) %>
  </div>
  <div class="markdown">
    <%= markdown(@blog.body) %>
  </div>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
