<article class="post-card card border-0">
  <div class="post-card__author">
    <div class="post-card__avatar"></div>
    <%= link_to post.user.full_name, my_page_users_path(post.user.id), class: 'post-card__username' %>
  </div>
  <div class="post-card__wrapper">
    <!--<img class="post-card__image" src="https://images.unsplash.com/photo-1678818546219-d955db483f66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" alt="Post Image">-->
    <div class="post-card__image">
      <% if post.post_image.attached? %>
        <%= image_tag post.post_image,size: "120x120" %>
      <% else %>
        <%= image_tag 'no_image.png',size: "120x120" %>
      <% end %>
    </div>
    <div class="post-card__contents">
      <h4 class="post-card__title">
        <% if request.fullpath.include? "drafts" %>
          <%= link_to post.title, edit_post_path(post) %>
        <% else %>
          <%= link_to post.title, post_path(post.id) %>
        <% end %>
      </h4>
      <p class="post-card__body"><%= post.body %></p>
      <ul class="post-card__hashtag-wrapper">
        <% post.hashtags.each do |tag| %>
          <li class="post-card__hashtag">
            <%= tag.hashtag_name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <ul class="post-card__stats">
    <li>
      <time class="post-card__date" datetime="2023-03-19"><%= post.created_at %></time>
    </li>
    <% unless request.fullpath.include? "drafts" %>
      <li class="post-card__comments">
        <i class="fas fa-comment"></i> <%= post.post_comments.count %> Comments
      </li>
      <li class="post-card__likes">
        <i class="fas fa-heart"></i> <%= post.favorites.count %> Likes
      </li>
    <% end %>
  </ul>
</article>
