<div class="container mt-5">
  <% if @model == 'user' %>
    <h3>Users search for "<%= @content %>"</h3>
    <% if @results.present? %>
      <% @results.each do |user| %>
        <%= render partial: 'public/users/shared/profile-card', locals: { user: user }  %>
      <% end %>
    <% else %>
      <p>検索結果がありません</p>
    <% end %>
  <% elsif @model == 'post' %>
    <h3>Posts search for "<%= @content %>"</h3>
    <% if @results.present? %>
      <%= render partial: 'public/posts/index', locals: { posts: @results }  %>
    <% else %>
      <p>検索結果がありません</p>
    <% end %>
  <% elsif @model == 'event' %>
    <h3>Events search for "<%= @content %>"</h3>
    <% if @results.present? %>
      <%= render partial: 'public/events/index', locals: { events: @results }  %>
    <% else %>
      <p>検索結果がありません</p>
    <% end %>
  <% elsif @model == 'hashtag' %>
    <h3>Hashtags search for "<%= @content %>"</h3>
    <% if @results.present? %>
      <% @results.each do |hashtag| %>
        <%= render partial: 'public/posts/index', locals: { posts: @posts }  %>
      <% end %>
    <% else %>
      <p>検索結果がありません</p>
    <% end %>
  <% else @model == 'nil' %>
    <h3>Search for "<%= @content %>"</h3>
    <% if @results.present? %>
      <% @results.each do |result| %>
        <% if result.is_a?(User) %>
          <h4>User</h4>
          <%= render partial: 'public/users/shared/profile-card', locals: { user: result } %>
        <% elsif result.is_a?(Post) %>
          <h4>Post</h4>
          <%= render partial: 'public/posts/index', locals: { posts: [result] } %>
        <% elsif result.is_a?(Event) %>
          <h4>Event</h4>
          <%= render partial: 'public/events/index', locals: { events: [result] } %>
        <% end %>
      <% end %>
    <% else %>
      <p>検索結果がありません</p>
    <% end %>
  <% end %>
</div>
