<div class="event-form container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="profile-form__title">プロフィール修正ページ</h1>
      <%= form_with model: @user, url: information_users_path do |f| %>
        <div class='form-group'>
          <label>名前（漢字）</label>
          <%= f.text_field :first_name, class: "form-control", style: "display: inline-block; width: 50%" %>
          <%= f.text_field :last_name, class: "form-control", style: "display: inline-block; width: 50%" %>
        </div>
        <div class='form-group'>
          <label>名前（カナ）</label>
          <%= f.text_field :first_name_kana, class: "form-control", style: "display: inline-block; width: 50%" %>
          <%= f.text_field :last_name_kana, class: "form-control", style: "display: inline-block; width: 50%" %>
        </div>
        <div class='form-group'>
          <label>紹介</label>
          <%= f.text_area :introduction, class: "form-control" %>
        </div>
        <div class='form-group'>
          <label>プロフィール写真</label>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div class="form-group form-group__button-wrapper">
          <%= f.submit "更新する", class: "btn form-group__submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
