<div class="serch_form">
  <%= form_with url: search_path, method: :get do |f| %>
    <%= f.text_field :content %>
    <%= f.select :model, options_for_select({"全てから探す" => nil, "User" => "user", "Post" => "post", "Event" => "event", "Hashtag" => "hashtag"}) %>
    <%= f.select :method,options_for_select({"完全一致"=>"perfect","部分一致"=>"partial"})%>
    <%= f.submit'検索' %>
  <% end %>
</div>
