<div class="serch_form">
  <%= form_with url: searches_search_path,method: :get, local: true do |f| %>
    <%= f.text_field :content %>
    <%= f.select :model, options_for_select({"全てから探す" => nil, "User" => "user", "Post" => "記事", "Event" => "イベント", "Hashtag" => "ハッシュタグ"}) %>
    <%= f.select :method,options_for_select({"完全一致"=>"perfect","部分一致"=>"partial"})%>
    <%= f.submit'検索' %>
  <% end %>
</div>
