<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1SDCMF5414"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1SDCMF5414');
    </script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" type="image/x-icon" />
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application' %>
    <%= display_meta_tags(default_meta_tags)%>
  </head>
  <body>
    <%= render 'layouts/splash-logo' %>
    <%= render 'layouts/header' %>
    <main role="main flex-grow-1" id="main-content">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    <%= render 'shared/chatbot' %>
    <button type="button" class="chatbot-btn" data-toggle="modal" data-target="#chat-modal">
      <i class="fas fa-robot" data-toggle=tooltip data-placement="bottom" title="ボットと遊ぶ！"></i>
    </button>
  </body>
</html>
